extends base

block content 
    #body
        #books-card-container
            #total-books 
                span 321
                p Total Books
            #added-today-books 
                span 321
                p Total Books Added Today 
        h3.dashboard-body-header Browse popular books
        #horizental-card 
            
            each book in books
                a(href=`/viewbook/${book.slug}`, style="color: #000;")
                    #dashboard-card
                        #book-info 
                            h4= book.title
                            p= book.summary
                            span Author - <i>#{book.author}</i>
                        img(src=`/img/book/${book.image}`, alt=`${book.title}`)
            
        #prev-next 
            button Prev 
            button Next
            