extends base 

block content 
    #body 
        .list-books-container
            h3 List Books 
            select
                option Recent 
                option Older 
                option Popular
                option Low to High (Price)
                option High to Low (Price)
        #horizental-card 
            each book in books
                #dashboard-card 
                    #book-info 
                        //- Buffered Code
                        h4= book.title
                        p= book.summary
                        span= `Author - ${book.author}`
                    img(src=`/img/book/${book.image}`, alt=`${book.name}`)
        include ./_pagination.pug
        
        